<div class="form-group">
  <p id="notice"><%= notice %></p>
  <h1 class="float-right"><i class="material-icons">group </i> Active Teams</h1>

  <table class="table table-condensed">
    <thead class="tpc-head">
      <tr>
        <th>Logo</th>
        <th>Name</th>
        <th>Team Owner</th>
        <th>Contact Email</th>
        <th>Members</th>
        <th>Current Subscriptions</th>
        <th colspan='2'></th>
      </tr>
    </thead>

    <tbody>
      <% @teams.each do |team| %>
      <tr>
        <td><%= image_tag team.avatar.url(:thumb) %></td>
        <td><%= team.name %></td>
        <td><%= team.owner %></td>
        <td><%= team.contact_email %></td>
        <td><%= team.members.count %></td>
        <td>
          <%= team.custom_subscriptions.count %> Custom Subscriptions<br />
          <% if team.custom_subscriptions.count > 0 %>
            - <%= team.custom_subscriptions.where(end_date: nil).count %> active,
            <%= team.custom_subscriptions.where.not(end_date: nil).count %> inactive<br />
            - <%= team.custom_subscriptions.where(payment_type: 'stripe').count%> via Stripe,
            <%= team.custom_subscriptions.where(payment_type: 'check').count%> via Check
          <% end %>
        </td>
        <td colspan='2'><%= link_to 'Show Team', team_path(team), :class =>"button btn btn-default pad-5" %></td>
      </tr>
      <% end %>
    </tbody>
  </table>

  <br>

  <%= link_to 'Create New Team', new_team_path, :class =>"button btn btn-default pad-5" %>
</div>
