<div class="form-group">
  <p id="notice"><%= notice %></p>
  <div class="row">
    <div class="col-sm-12">
      <h1 class="float-right">Teams</h1>
    </div>
    <div class="col-sm-12">
        <ul class="filter-list">
            
            <li><%= link_to "Inactive Team Members /", members_path(filter: 'inactive_team_members') %></li>
            <li><%= link_to "Active Team Members /", members_path(filter: 'active_team_members') %></li>
            <li><%= link_to "Unassigned Teams /", teams_path(filter: 'unassigned') %></li>
            <li><%= link_to "Inactive Teams /", teams_path(filter: 'inactive') %></li>
            <li><%= link_to "Active Teams /", teams_path(filter: 'active') %></li>
            <li>Filter: </li>
            <li><a href="/teams/new"><i class="material-icons">add_circle</i></a> </li>
        
        </ul>
    </div>
    </div>
  <table id="datatable" class="table">
    <thead>
      <tr>
        <th>Logo</th>
        <th>Members</th>
        <th>Current Subscriptions</th>
      </tr>
    </thead>

    <tbody>
      <% @teams.each do |team| %>
       <tr>
        <td>
          <%= link_to(team) do %>
            <%= image_tag team.avatar.url(:thumb) %>
            <br/>
            <strong><%= team.name %></strong> 
          <% end %>
       </td>
       
        <td><%= team.members.count %></td>
        <td>
          <%= team.custom_subscriptions.count %> Custom Subscriptions<br />
          <% if team.custom_subscriptions.count > 0 %>
            - <%= team.custom_subscriptions.where(end_date: nil).count %> active,
            <%= team.custom_subscriptions.where.not(end_date: nil).count %> inactive<br />
            - <%= team.custom_subscriptions.where(payment_type: 'stripe').count%> via Stripe,
            <%= team.custom_subscriptions.where(payment_type: 'check').count%> via Check
          <% end %>
        </td>
      
      </tr>
      <% end %>
    </tbody>
  </table>

</div>
