<%= form_for([@member, @membership]) do |f| %>
  <% if @membership.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@membership.errors.count, "error") %> prohibited this membership from being saved:</h2>

    <ul>
      <% @membership.errors.full_messages.each do |message| %>
      <li><%= message %></li>
      <% end %>
    </ul>
  </div>
  <% end %>

  <h3><%= @member.full_name %></h3>

  <div class="field">
    <%= f.label :paid_by %>
    <%= f.collection_select(:paid_by, Member.order("lower(last_name) ASC").all, :full_name, :full_name, :include_blank => true ) %>
    <p>Leave blank unless paid on a group account</p>
  </div>

  <div class="field">
    <%= f.label :plan_category_id %>
    <%= f.collection_select(:plan_category_id, PlanCategory.memberships.order(:id), :id, :name, include_blank: true) %>
  </div>

  <div class="field">
    <%= f.label :plan_id %>
    <%= f.grouped_collection_select(:plan_id, PlanCategory.memberships.order(:name), :plans, :name, :id, :name, include_blank: true) %>
  </div>

  <div class="field">
    <% default_payment_type = f.object.payment_type ? (f.object.payment_type[0] == 'P' ? "Check - #{f.object.payment_type}" : f.object.payment_type) : '' %>
    <%= f.label :payment_type %>
    <%= f.select(:payment_type, options_for_select([['Stripe', 'Stripe'], ['Check - Prepaid 3 Month', "Check - Prepaid 3 Month"],
        ['Check - Prepaid 6 Month', "Check - Prepaid 6 Month"], ['Check - Prepaid 12 Month', "Check - Prepaid 12 Month"], ['Month-to-month (legacy)', "Month-to-month"], ['N/A', "N/A"]],
        :selected => default_payment_type), :prompt => true )%>
  </div>

  <div class="field">
    <%= f.label :start_date %>
    <%= f.date_select :start_date, { :default => @start_date, :include_blank=> @start_date.nil? }, :ampm => true, :discard_hours => true  %>
  </div>

  <div class="field">
    <%= f.label :end_date %>
    <%= f.date_select :end_date, { :default => @end_date, :include_blank=> @end_date.nil? }, :ampm => true, :discard_hours => true  %>
  </div>

  <div class="field">
    <%= f.label :notes %>
    <%= f.text_area :notes %>
  </div>

  <div class="field hidden">
    <%= f.label :trial_period_days %>
    <%= f.number_field :trial_period_days, value: 0 %>
  </div>

  <div class="field hidden">
    <%= f.label :coupon %>
    <%= f.select :coupon, @coupons.collect {|c| c.id}, include_blank: true %>
  </div>

  <div class="field hidden">
    <%= f.label :average_monthly_payment %>
    <%= f.text_field :average_monthly_payment %>
  </div>

  <div class="actions">
    <%= f.submit name: button_name, data: { confirm: "WARNING: If this is a Stripe plan, this will charge the Member's Credit Card IMMEDIATELY." } %>
  </div>
<% end %>
