<%= form_for(@membership) do |f| %>
  <% if @membership.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@membership.errors.count, "error") %> prohibited this membership from being saved:</h2>

      <ul>
      <% @membership.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  

    
   <div class="field">
       <%= f.label :member_id %>
       <%= f.collection_select(:member_id, Member.order("lower(last_name) ASC").all, :id, :full_name, :include_blank => true) %>
  </div>
  
   <div class="field">
       <%= f.label :plan_id %>
       <%= f.collection_select(:plan_id, Plan.order("lower(name) ASC").all, :id, :name, :include_blank => true) %>
  </div>
  
  <div class="field">
    <%= f.label :payment_type %>
    <%= f.select(:payment_type, options_for_select([['Month-to-month (Stripe)', "Month-to-month"], ['Prepaid 3 Month', "Prepaid 3 Month"], 
    ['Prepaid 6 Month', "Prepaid 6 Month"], ['Prepaid 12 Month', "Prepaid 12 Month"], ['N/A', "N/A"]], :selected => f.object.payment_type), :prompt => true )%>
  </div>
 
   <div class="field">
      <%= f.label :start_date %>
      <%= f.date_select :start_date, { :default => @start_date, :include_blank=> @start_date.nil? }, :ampm => true, :discard_hours => true  %>
    </div>
    
    <div class="field">
      <%= f.label :end_date %>
      <%= f.date_select :end_date, { :default => @end_date, :include_blank=> @end_date.nil? }, :ampm => true, :discard_hours => true  %>
    </div>
    
    <div class="field">
       <%= f.label :notes %>
       <%= f.text_area :notes %>
    </div>
  
 

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
