<p id="notice"><%= notice %></p>

<h1>Listing Memberships</h1>


<table class="table table-condensed">
  <thead class="tpc-head">
    <tr>
      <th>Member name</th>
      <th>Paid by</th>
      <th>Type</th>
      <th>Start date</th>
      <th>End date</th>
      <th>Length of membership</th>
      <th>Next bill date</th>
      <th>Payment type</th>
      <th>Status</th>
      <th>Notes</th>
      <th>Average Monthly Payment</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @memberships.each do |membership| %>
        <% @total_days = [] %>
        <% @total_days.push(membership.length_of_membership) %>
     
       
      <tr>
        <td><%= membership.member.last_name %>, <%= membership.member.first_name %> </td>
        <td> 
        
             <%= if membership.paid_by.blank?
                    membership.member.last_name + ", " + membership.member.first_name
                else
                    membership.paid_by 
                    
                   
                end %>
          
          
          </td>
        <td><%= membership.plan.name %></td>
        <td><%= membership.start_date %></td>
        <td><%= if membership.end_date? 
                membership.end_date
                else 
                "Current"
                end %></td>
         <td><%= membership.length_of_membership.to_s + " days"%></td>
         <td><%= membership.next_bill_date %></td>
         <td><%= membership.payment_type %></td>
         <td><%= membership.status %></td>
         <td><%= membership.notes %></td>
         <td><%= membership.average_monthly_payment %></td>
        <td><%= link_to 'Show', membership %></td>
        <td><%= link_to 'Edit', edit_membership_path(membership) %></td>
        <td><%= link_to 'Destroy', membership, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<div class = "center-box">
  <h1>Business Vitals</h1>
  <p class="white">Average membership length: <%= @average_length = ((@total_days.sum.to_f / @total_days.size) / 30.4167).round(2)  %> months</p>
  <p class="white">Average monthly revenue per membership: $ <%= @avg_rev_per_membership = (Membership.average(:average_monthly_payment)).round(2) %></p>
  <p class="white">Lifetime value of customer: $ <%= (@average_length * @avg_rev_per_membership).round(2) %> </p>
</div>

<br>

<%= link_to 'New Membership', new_membership_path %>
