<p id="notice"><%= notice %></p>

<h1>Listing Memberships</h1>

<table>
  <thead>
    <tr>
      <th>Member name</th>
      <th>Paid by</th>
      <th>Type</th>
      <th>Start date</th>
      <th>End date</th>
      <th>Length of membership</th>
      <th>Payment type</th>
      <th>Status</th>
      <th>Notes</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @memberships.each do |membership| %>
      <tr>
        <td><%= membership.member.last_name %>, <%= membership.member.first_name %> </td>
        <td> 
        
             <% if membership.paid_by = nil %>
                    <%= membership.paid_by %> 
             <% else %>
                    <%= membership.member.last_name %>, <%= membership.member.first_name %>
             <% end %>
          
          </td>
        <td><%= membership.start_date %></td>
        <td><%= membership.end_date %></td>
         <td><%= membership.length_of_membership.to_s + " days"%></td>
         <td><%= membership.payment_type %></td>
         <td><%= membership.status %></td>
         <td><%= membership.notes %></td>
        <td><%= link_to 'Show', membership %></td>
        <td><%= link_to 'Edit', edit_membership_path(membership) %></td>
        <td><%= link_to 'Destroy', membership, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Membership', new_membership_path %>
