<p id="notice"><%= notice %></p>

<h1>Viewing Membership Record <%= @membership.id %></h1>

<p>
  <strong>Member</strong>
  <%= @membership.member.full_name  %>
</p>

<p>
  <strong>Plan</strong>
  <%= @membership.plan.name  %>
</p>


<p>
  <strong>Start date:</strong>
  <%= @membership.start_date %>
</p>

<p>
  <strong>End date:</strong>
  <%= if @membership.end_date
      @membership.end_date 
      else "live"
      end %>
</p>

<p>Length of membership in days

   <%= @membership.length_of_membership %>

</p>

<%= link_to 'Edit', edit_membership_path(@membership) %> |
<%= link_to 'Back', memberships_path %>
