<p id="notice"><%= notice %></p>

<p>
  <strong>Type:</strong>
  <%= @membership.type %>
</p>

<p>
  <strong>Start date:</strong>
  <%= @membership.start_date %>
</p>

<p>
  <strong>Datetime:</strong>
  <%= @membership.datetime %>
</p>

<%= link_to 'Edit', edit_membership_path(@membership) %> |
<%= link_to 'Back', memberships_path %>
