<div class='temporary-data'>
</div>

<%= form_for([@member, @custom_subscription], html: {class: 'the-custom-sub-form'}) do |f| %>
  <%= hidden_field_tag :member_stripe_id, @member.stripe_id %>
  <% if @custom_subscription.stripe_sub_id %>
    <%= hidden_field_tag :stripe_subscription_id, @custom_subscription.stripe_sub_id %>
  <% end %>

  <% if @custom_subscription.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@custom_subscription.errors.count, "error") %> prohibited this membership from being saved:</h2>

    <ul>
      <% @custom_subscription.errors.full_messages.each do |message| %>
      <li><%= message %></li>
      <% end %>
    </ul>
  </div>
  <% end %>

  <h3><%= @member.try(:full_name) || "Team #{@member.try(:name)}" %></h3>

  <table class='table custom-sub-lines'>
    <thead>
      <tr>
        <th>Plan Category</th>
        <th>Plan</th>
        <th class='quantity'>Quantity</th>
        <th>Rate / Interval</th>
        <th>Amount</th>
      </tr>
    </thead>

    <tbody>
      <% if action_name == 'new' %>
        <%= render 'new_line_items' %>
      <% else %>
        <%= render 'edit_line_items' %>
      <% end %>

      <tr>
        <td colspan=42><button id="form-add-row">+ Add Row</button></td>
      </tr>

      <tr>
        <td colspan=5>
          <div class='right-align'>
            <% if action_name == 'new' %>
              <%= render 'new_total_amount', f: f, button_name: button_name %>
            <% else %>
              <%= render 'edit_total_amount', f: f, button_name: button_name %>
            <% end %>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
<% end %>

<div id='all-plan-info' data-info="<%= @all_plans %>"></div>
