<%= form_for([@member, @keycard_checkout]) do |f| %>
  <% if @keycard_checkout.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@keycard_checkout.errors.count, "error") %> prohibited this membership from being saved:</h2>

      <ul>
        <% @keycard_checkout.errors.full_messages.each do |message| %>
        <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <h3><%= @member.full_name %></h3>

  <%= f.fields_for :keycard do |keycard_form| %>
    <div class="field">
      <%= keycard_form.label :number %>
      <%= keycard_form.text_field :number %>
    </div>
    <div class="field">
      <%= f.label :payment_type %>
      <%= f.select(:payment_type, options_for_select([['Stripe', 'Stripe'], ['Check - Prepaid 3 Month', "Check - Prepaid 3 Month"],
          ['Check - Prepaid 6 Month', "Check - Prepaid 6 Month"], ['Check - Prepaid 12 Month', "Check - Prepaid 12 Month"], ['N/A', "N/A"]], :selected => f.object.payment_type), :prompt => true )%>
    </div>
    <div class="field">
      <%= keycard_form.label :hours %>
      <%= keycard_form.text_field :hours %>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :start_date %>
    <%= f.date_select :start_date, { :default => @start_date, :include_blank=> @start_date.nil? }, :ampm => true, :discard_hours => true  %>
  </div>

  <div class="field">
    <%= f.label :end_date %>
    <%= f.date_select :end_date, { :default => @end_date, :include_blank=> @end_date.nil? }, :ampm => true, :discard_hours => true  %>
  </div>

  <% if @keycard_checkout.stripe_charge_id && @keycard_checkout.stripe_charge_refunded %>
    <div class="field">
      <%= "$25 Security Deposit refunded. (Stripe charge #{@keycard_checkout.stripe_charge_id})" %>
    </div>
  <% elsif @keycard_checkout.stripe_charge_id %>
    <div class="field">
      <%= f.label :refund, 'Refund $25 Security Deposit?' %>
      <%= f.check_box :refund %>
    </div>
  <% else %>
    <div class="field hidden">
      <%= f.label :deposit, 'Charge $50 Security Deposit?' %>
      <%= f.check_box :deposit %>
    </div>
  <% end %>
  <br /><br /><br /><br /><br />

  <div class="actions">
    <%= f.submit data: { confirm: "WARNING: If this is a Stripe plan, this will charge the Member's Credit Card IMMEDIATELY." } %>
  </div>
<% end %>
