<p id="notice"><%= notice %></p>

<h1>Listing keycard_checkouts</h1>

<table class="table table-condensed">
  <thead class="tpc-head">
    <tr>
      <th>Member name</th>
      <th>Keycard #</th>
      <th>Start date</th>
      <th>End date</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @keycard_checkouts.each do |keycard_checkout| %>
      <tr>
        <td><%= keycard_checkout.member.last_name %>, <%= keycard_checkout.member.first_name %> </td>
        <td><%= keycard_checkout.keycard.number %></td>
        <td><%= keycard_checkout.start_date %></td>
        <td><%= if keycard_checkout.end_date? 
                keycard_checkout.end_date
                else 
                "Live"
                end %></td>
       
        <td><%= link_to 'Show', keycard_checkout %></td>
        <td><%= link_to 'Edit', edit_keycard_checkout_path(keycard_checkout) %></td>
        <td><%= link_to 'Destroy', keycard_checkout, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New keycard_checkout', new_keycard_checkout_path %>
