
<div class="align-center">
    <h2>Welcome to the tPC Management App</h2>
    <div class="welcome-menu">
        
            <ul style="list-style-type:none">
                <li><%= link_to "Add member to Stripe", new_charge_path, :class =>"button btn btn-default pad-5"  %></li>
                <li>  <%= link_to "Members Database", members_path, :class =>"button btn btn-default pad-5"  %></li>
                <li>  <%= link_to "Manage Keycards", keycards_path, :class =>"button btn btn-default pad-5"  %></li>
                <li>  <%= link_to "Member Check Ins", checkins_path, :class =>"button btn btn-default pad-5"  %></li>
                <li>  <%= link_to "Manage Memberships", memberships_path, :class =>"button btn btn-default pad-5"  %></li>
            </ul>
    </div>
</div>