<p id="notice"><%= notice %></p>

<h2 class="default-title uppercase">Listing Keycards</h2> 

<table class="table table-condensed">
  <thead class="tpc-head">
    <tr>
      <th>Number</th>
      <th>Hours</th>
      <th>Assignment</th>
      <th>Member</th>
      <th>Status</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @keycards.each do |keycard| %>
      <tr>
        <td><%= keycard.number %></td>
        <td><%= keycard.hours %></td>
        <td><%= if keycard.member_id?  
                      "assigned"
                else
                    "unassigned"
                
                end
                %></td>
        <td><%= if keycard.member_id? 
                keycard.member.last_name
                end %></td>
          <td><%=if keycard.status != nil
                    keycard.status
                end %></td>
        
        <td><%= link_to 'Show', keycard %></td>
        <td><%= link_to 'Edit', edit_keycard_path(keycard) %></td>
        <td><%= link_to 'Destroy', keycard, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<button type="button" class="btn btn-default pad-5"><%= link_to 'Create New Keycard', new_keycard_path %></button>
