<%= form_for(@mail_service) do |f| %>
  <% if @mail_service.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@mail_service.errors.count, "error") %> prohibited this mail_service from being saved:</h2>

      <ul>
      <% @mail_service.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
     <%= f.label :member_id %>
    <%= f.collection_select(:member_id, Member.order("lower(last_name) ASC").all, :id, :full_name, :include_blank => true ) %>
  </div>
  <div class="field">
    <%= f.label :mailbox_id %>
    <%= f.collection_select(:mailbox_id, Mailbox.all.order("number"), :id, :number, :include_blank => true ) %>
  </div>
  <div class="field">
    <%= f.label :start_date %>
    <%= f.date_select :start_date, { :default => @start_date, :include_blank=> @start_date.nil? }, :ampm => true, :discard_hours => true  %>
  </div>
  
  <div class="field">
    <%= f.label :end_date %>
    <%= f.date_select :end_date, { :default => @end_date, :include_blank=> @end_date.nil? }, :ampm => true, :discard_hours => true  %>
  </div>
  <div class="field">
    <%= f.label :notes %><br>
    <%= f.text_area :notes %>
  </div>
  <div class="field">
    <%= f.label :average_monthly_payment %><br>
    <%= f.text_field :average_monthly_payment %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
