<p id="notice"><%= notice %></p>

<h1>Listing Mail Services</h1>

<table>
  <thead>
    <tr>
      <th>Member</th>
      <th>Mailbox</th>
      <th>Start date</th>
      <th>End date</th>
      <th>Notes</th>
      <th>Average monthly payment</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @mail_services.each do |mail_service| %>
      <tr>
        <td><%= mail_service.member_id %></td>
        <td><%= mail_service.mailbox_id %></td>
        <td><%= mail_service.start_date %></td>
        <td><%= mail_service.end_date %></td>
        <td><%= mail_service.notes %></td>
        <td><%= mail_service.average_monthly_payment %></td>
        <td><%= link_to 'Show', mail_service %></td>
        <td><%= link_to 'Edit', edit_mail_service_path(mail_service) %></td>
        <td><%= link_to 'Destroy', mail_service, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Mail service', new_mail_service_path %>
