<p id="notice"><%= notice %></p>

<h1>Listing Mail Services</h1>

<table class="table">
  <thead>
    <tr>
      <th>Member</th>
      <th>Mailbox</th>
      <th>Start date</th>
      <th>End date</th>
      <th>Status</th>
      <th>Notes</th>
      <th>Average monthly payment</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @mail_services.each do |mail_service| %>
      <tr>
        <td><%= mail_service.member.full_name %></td>
        <td><%= mail_service.mailbox_id %></td>
        <td><%= mail_service.start_date %></td>
        <td><%= mail_service.end_date %></td>
        <td><%= mail_service.status %></td>
        <td><%= mail_service.notes %></td>
        <td><%= mail_service.average_monthly_payment %></td>
      
      </tr>
    <% end %>
  </tbody>
</table>

<br>


