<p id="notice"><%= notice %></p>

<p>
  <strong>Member:</strong>
  <%= @mail_service.member_id %>
</p>

<p>
  <strong>Mailbox:</strong>
  <%= @mail_service.mailbox_id %>
</p>

<p>
  <strong>Start date:</strong>
  <%= @mail_service.start_date %>
</p>

<p>
  <strong>End date:</strong>
  <%= @mail_service.end_date %>
</p>

<p>
  <strong>Notes:</strong>
  <%= @mail_service.notes %>
</p>

<%= link_to 'Edit', edit_mail_service_path(@mail_service) %> |
<%= link_to 'Back', mail_services_path %>
