<p id="notice"><%= notice %></p>

<h1>Listing Plans</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @plans.each do |category, plans| %>
      <tr>
        <td colspan="4"><h2><%= category || 'Uncategorized' %></h2></td>
      </tr>
      <% plans.sort_by {|child| [child.category_order ? 0 : 1,child.category_order || 0]}.each do |plan| %>
        <tr>
          <td><%= plan.name %></td>
          <td><%= link_to 'Show', plan %></td>
          <td><%= link_to 'Edit', edit_plan_path(plan) %></td>
          <td><%= link_to 'Destroy', plan, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Plan', new_plan_path %>
