<p id="notice"><%= notice %></p>

<h1>Listing Plans</h1>

<% @categories.each do |category, plans| %>
  <h2><%= category ? category.name : 'Uncategorized' %></h2>
  <ul class='sortable' id="sortable-category-<%= category ? category.id : 'u' %>" data-category="<%= category ? category.name : 'uncategorized' %>">
    <% plans.each do |plan| %>
      <li class="ui-state-default" id="<%= plan.id %>">
        <p>
          <strong><%= plan.name %></strong>
          <% if plan.amount %>
            <span>&nbsp;|&nbsp;</span>
            <span><%= plan.pretty_display %></span>
          <% end %>
        </p>
        <p>
          <span><%= link_to 'Show', plan %></span>
          <span><%= link_to 'Edit', edit_plan_path(plan) %></span>
          <span><%= link_to 'Destroy', plan, method: :delete, data: { confirm: 'Are you sure?' } %></span>
        </p>
      </li>
    <% end %>
  </ul>
<% end %>

<br>

<%= link_to 'New Plan', new_plan_path %>
