<h1>New Plan</h1>

<%= form_for(@plan) do |f| %>
  <% if @plan.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@plan.errors.count, "error") %> prohibited this plan from being saved:</h2>

      <ul>
      <% @plan.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :stripe_id, "Stripe ID" %><br>
    <%= f.text_field :stripe_id %>
  </div>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :dollar_amount, 'Stripe Amount (in Dollars)' %><br>
    <%= f.text_field :dollar_amount %>
  </div>

  <div class="field">
    <%= f.label :interval_count %><br>
    <%= f.number_field :interval_count %>
  </div>

  <div class="field">
    <%= f.label :interval %><br>
    <%= f.select :interval, ['month', 'week', 'day'] %>
  </div>

  <div class="field">
    <%= f.label :trial_period_days %><br>
    <%= f.number_field :trial_period_days, value: 0 %>
  </div>

  <div class="field">
    <%= f.label :plan_category_id, 'Plan Category' %><br>
    <%= f.select :plan_category_id, PlanCategory.all.collect {|p| [ p.name, p.id ] } %>
  </div>

  <div class="field">
    <%= f.label :category_order %><br>
    <%= f.number_field :category_order %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

<%= link_to 'Back', plans_path %>
