<%= form_for(@checkin) do |f| %>
  <% if @checkin.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@checkin.errors.count, "error") %> prohibited this checkin from being saved:</h2>

      <ul>
      <% @checkin.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  
  <div class="field field-wide">
    <%= f.hidden_field :date, :value => DateTime.now %>
  </div>
  
 
  
   <div class="field">
       <%= f.collection_select(:member_id, Member.active.joins(memberships: :plan).where("plans.name": ['Community 5','Community 10', 'Platinum Punchcard','Team 06', 'Team 12', 'Team 16', 'Team 24', 'Team 48']), :id, :full_name, {:include_blank => 'Please Choose Your Name'} ) %>
  </div>
 
  
  
  <div class="actions float-right">
    <%= f.submit "CHECK IN", :class=>"button btn btn-default pad-5", data: { confirm: 'Thank you for checking in to tPC.  Have a great day!' } %>
  </div>
  
 
  
<% end %>
