<div class="row">
  <div class="col-sm-3"></div>
  <div class="col-sm-6 center-box checkin">
      <div class="row">
          <div class="col-sm-1"></div>
          <div class="col-sm-9">
          <h1 class="default-title">Check in to</h1>
          <a href="#"><%= image_tag("logo.png", :alt => "brandy") %></a>
       
            <br/>
            <br/>
            <%= render 'form' %>
          
            <br/>
            <br/>
            <br/>
            
          <table class="table table-condensed">
            <h3><strong>Today's Checkins</strong> - last 12 hours</h3>
            <thead class="tpc-head">
              <tr>
                <th>ID</th>
                <th>Date & Time</th>
                <th>Member Name</th>
                <th colspan="1"></th>
              </tr>
             </thead>
              
              <tbody>
                <% Checkin.where("created_at >= ?", 12.hours.ago.utc).order("created_at DESC").each do |checkin| %>
                    <tr>
                      <td><%= checkin.id %></td>
                      <td><%= checkin.date %></td>
                           
                      </td>
                      <td><%= if checkin.member_id? 
                            checkin.member.last_name
                            end %>, 
                      
                      <%= if checkin.member_id? 
                              checkin.member.first_name
                          end %>
                      </td>
                    </tr>
                  
                <% end %>
              </tbody>
            
            </table>
            
          
        
       </div>
      </div>
  </div>
</div>