<!DOCTYPE html>
<html>
<head>
 

  <title>Workspace</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  
   <%= google_webfonts_init({
    google: ['Poppins']
  }) %>
  
</head>
<body>
    <%= render 'layouts/flash_messages' if !flash.empty? %>
    

  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-3 col-lg-2">
        <%= render 'layouts/navigation' %>
      </div>
      <div class="col-sm-9 col-lg-10">
        <%= yield %>
      </div>
  </div>

    

</body>
</html>

<div class="container-fluid">
  
</div>
