<td><%= membership.plan.name %></td>
<td><%= membership.status %></td>
<td><%= membership.payment_type%></td>
<td><%= membership.pretty_invoice_amount %></td>
<td><%= membership.start_date.to_date if membership.start_date %></td>
<td><%= membership.end_date.to_date if membership.end_date %></td>
<td><%= membership.next_invoice_date.to_date if membership.next_invoice_date %></td>
<td>
  <% if member.document?%>
    <u><%= link_to "Yes ", member.document.url, :class => "white"%></u>
  <% else %>
    No
  <% end %>
</td>
<td><%= link_to 'Edit', edit_member_membership_path(member, membership) %></td>
<td>
  <% if membership.status == 'live' || membership.status == 'trialling' %>
    <%= link_to "Cancel", member_cancel_membership_path(member, membership), :method  => :delete, data: { confirm: "Are you certain you want to cancel this? It will cancel on #{membership.next_invoice_date.to_date if membership.next_invoice_date}" } %>
  <% end %>
</td>
