
    
    <%= form_for(@member) do |f| %>
      <% if @member.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@member.errors.count, "error") %> prohibited this member from being saved:</h2>
    
          <ul>
          <% @member.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
      <% end %>
      
    <div class= "row">
      <div class = "col-sm-12 form-group">
      
      
        
        <div class="field">
          <%= image_tag @member.avatar.url(:medium) %>
          <%= f.label :avatar %>
          <%= f.file_field :avatar %>
        </div>
       
      
      </div>
    </div>
     <div class= "row">
      <div class = "col-sm-12 form-group">
    
        <div class="field">
          <%= f.label :first_name %>
          <%= f.text_field :first_name %>
        </div>
        <div class="field">
          <%= f.label :last_name %>
          <%= f.text_field :last_name %>
        </div>
        <div class="field">
          <%= f.label :email %>
          <%= f.text_field :email %>
        </div>
      
      </div>
    </div>
    
    <div class= "row">
      <div class = "col-sm-12 form-group">
        <h3 class="uppercase">Membership details</h3>
        
        
         <div class="field">
          <%= f.label :role %>
          <%= f.select(:role, options_for_select([['Member', "Member"], ['Owner', "Owner"], ['Community Lead', "Community Lead"]], :selected => f.object.role), :prompt => true )%>
        </div>
       
        <div class="field">
          <%= f.label :status %>
          <%= f.select(:status, options_for_select([['Active', "Active"], ['Inactive', "Inactive"]], :selected => f.object.status) )%>
        </div>
        
        <div class="field">
          <%= f.label :has_mail_service %>
          <%= f.select(:has_mail_service, options_for_select([['No', false], ['Yes', true]], :selected => f.object.has_mail_service), :prompt => true)%>
        </div>
        <div class="field">
          <%= f.label :mailbox_number %>
          <%= f.text_field :mailbox_number%>
        </div>
      </div>
    </div>
    
    <div class= "row">
      <div class = "col-sm-12 form-group">
        <h3 class="uppercase">Additional info</h3>
      
        <div class="field">
          <%= f.label :phone %>
          <%= f.text_field :phone %>
        </div>
        
        <div class="field">
          <%= f.label :company %>
          <%= f.text_field :company %>
        </div>
        
        <div class="field">
          <%= f.label :notes %>
          <%= f.text_area :notes %>
        </div>
        <br/>
        
        <div class="actions">
            <%= f.submit %>
        </div>
        
      </div>
    </div>
    
    
    
  
        
    <% end %>

