<div class= "container">

  <h2 class="default-title">Editing Member <span class="white"><%= @member.full_name %></span></h2>
        
   
     <%= render 'form' %>
      
    
    <%= link_to 'Show', @member %> |
    <%= link_to 'Back', members_path %> |
    <%= link_to 'Destroy', @member, method: :delete, data: { confirm: 'Are you sure?' } %>
</div>
