<div class= "container">

  <h2 class="default-title uppercase">Editing Member <%= @member.first_name and @member.last_name %></h2>
  
 
        
   
     <%= render 'form' %>
      
        
      
    
    <%= link_to 'Show', @member %> |
    <%= link_to 'Back', members_path %> |
    <%= link_to 'Destroy', @member, method: :delete, data: { confirm: 'Are you sure?' } %>
</div>
