<p id="notice"><%= notice %></p>

<h2 class="default-title uppercase">Listing Inactive Members</h2> 



     <table class="table table-condensed">
      <thead class="tpc-head">
        <tr>
          <th>Headshot</th>
          <th><strong>First name</strong></th>
          <th><strong>Last name</strong></th>
          <th>Company</th>
          <th>Email</th>
          <th>Membership Type</th>
          <th>Building access</th>
          <th>Keycard #</th>
          <th>Last Membership Start Date</th>
          <th>Time as member</th>
          <th>Payment type</th>
          <th>Mailbox number</th>
          <th>Notes</th>
          <th colspan="3">
        </tr>
      </thead>
    
      <tbody>
        <% @members.where(:status => "Inactive").each do |member| %>
          <tr>
            <td><%= image_tag member.avatar.url(:thumb) %></td>
            <td><strong><%= member.first_name %></strong></td>
            <td><strong><%= member.last_name %></strong></td>
            <td><%= member.company %></td>
            <td><%= member.email %></td>
            <td><%= member.membership_type %></td>
            <td><%= member.access %></td>
            <td><%= if member.keycard != nil
                      member.keycard.number
                    else
                      "No key"
                    end
                    %>
            </td>
            <td><%= member.start_date.to_date %></td>
            <td><%= member.days_as_member %> days</td>
            <td><%= member.payment_type %></td>
            <td><%= if member.has_mail_service
                        member.mailbox_number
                    else
                        "No mail"
                    end
                        %></td>
            <td><%= member.notes %></td>
            <td><%= link_to 'Show', member %></td>
            <td><%= link_to 'Edit', edit_member_path(member) %></td>
            
          </tr>
        <% end %>
      </tbody>
    </table>

<br>

<button type="button" class="btn btn-default pad-5"> <%= link_to 'View Active Members', members_path %></button>


