

<div class="form-group">
    <p id="notice"><%= notice %></p>
 <h1> <i class="material-icons">person </i> Inactive Members</h1>

     <table id="datatable" class="table">
       <thead>
          <tr>
           <th>Headshot</th>
            <th>Name</th>
            <th>Role</th>
            <th>Company</th>
            <th>Team</th>
            <th>Email</th>
            <th>Notes</th>
            <th>Agreement</th>
            <th>Current membership</th>
            <th>Edit</th>
        </tr>
      </thead>
    
      <tbody>
        <% @members.inactive.each do |member| %>
          <tr>
            <td><%= image_tag member.avatar.url(:thumb) %></td>
            <td><strong><%= member.first_name %></strong></td>
            <td><strong><%= member.last_name %></strong></td>
            <td><%= member.role %></td>
            <td><%= member.company %></td>
            <td><%= member.email %></td>
       
      
            <td><%= if member.has_mail_service
                        member.mailbox_number
                    else
                        "No mail"
                    end
                        %></td>
            <td><%= member.notes %></td>
            <td>
                <% if member.memberships.blank? %>
                    No membership has been assigned.
                   
                <% else %>
                <ul>
                 
                   <% member.memberships.each do |membership| %>
                         <li><%= membership.plan.name %> ( <%= membership.status %>)</li>
                   <% end %>
                   
                </ul>
                <% end %>
            </td>
            <td><%= link_to 'Edit Member', member, :class =>"button btn btn-default pad-5"  %></td>
            
          </tr>
        <% end %>
      </tbody>
    </table>

<br>
<%= link_to 'View Active Members', members_path, :class =>"button btn btn-default pad-5" %>
</div>


