<p id="notice"><%= notice %></p>

<h2 class="default-title uppercase">Listing Active Members</h2> 

    <table class="table table-condensed">
      <thead class="tpc-head">
        <tr>
          <th>Headshot</th>
          <th>First name</th>
          <th>Last name</th>
          <th>Role</th>
          <th>Company</th>
          <th>Email</th>
          <th>Notes</th>
          <th>Current membership type</th>
          <th>Mailbox number</th>
          <th>Keycard number</th>
          <th colspan="3">
        </tr>
      </thead>
    
      <tbody>
        <% @members.where(:status => "Active").each do |member| %>
          <tr>
            <td><%= image_tag member.avatar.url(:thumb) %></td>
            <td><strong><%= member.first_name %></strong></td>
            <td><strong><%= member.last_name %></strong></td>
            <td><%= member.role %></td>
            <td><%= member.company %></td>
            <td><%= member.email %></td>
            
            

            
            <td><%= member.notes %></td>
            
            
            <td>
                <% if member.memberships.blank? %>
                    No membership has been assigned.
                   
                <% else %>
                <ul>
                 
                   <% member.memberships.where(:end_date => nil).each do |membership| %>
                         <li><%= membership.plan.name %> ( <%= membership.status %>)</li>
                   <% end %>
                   
                </ul>
                <% end %>
            </td>
            
            <td><% if member.mail_services.blank? %>
                    No mail
                   
                <% else %>
                 
                   <% member.mail_services.each do |mail_service| %>
                        <%= mail_service.mailbox.number %> 
                   <% end %>
                   
                <% end %>
            </td>
            
            <td><% if member.keycard_checkouts.blank? %>
                    No key assigned
                   
                <% else %>
                 
                   <% member.keycard_checkouts.each do |keycard_checkouts| %>
                        <%= keycard_checkouts.keycard.number %> 
                   <% end %>
                   
                <% end %>
            </td>
            
           
            
            
            <td><%= link_to 'Show', member %></td>
            <td><%= link_to 'Edit', edit_member_path(member) %></td>
            
          </tr>
        <% end %>
      </tbody>
    </table>

<br>

<%= link_to 'Create New Member', new_member_path, :class =>"button btn btn-default pad-5" %>
<%= link_to 'View Inactive Members', inactive_path, :class =>"button btn btn-default pad-5" %>




    
    
 </div>

