<div class="form-group">
  <p id="notice"><%= notice %></p>
  <h1 class="float-right"><i class="material-icons">person </i> Active Members</h1>

  <table id="datatable" class="table">
    <thead>
      <tr>
        <th>Headshot</th>
        <th>Name</th>
        <th>Role</th>
        <th>Company</th>
        <th>Team</th>
        <th>Email</th>
        <th>Agreement</th>
        <th>Current membership</th>
        <th>Mail service</th>
        <th>Edit</th>
      </tr>
    </thead>

    <tbody>
      <% @members.each do |member| %>
        <tr>
          <td><%= image_tag member.avatar.url(:thumb) %></td>
          <td><strong><%= member.first_name %></strong> <br/><strong><%= member.last_name %></strong>
          </td>
          <td><%= member.role %></td>
          <td><%= member.company %></td>
          <td><%= member.team ? link_to(member.team.name, member.team) : '' %></td>
          <td><%= member.email %></td>
          <td>
            <% if member.document?%>
            <u><%= link_to "Yes ", member.document.url %></u>
            <% else %>
            No
            <% end %>
          </td>

          <td>
            <ul>
              <li>
                <%= member.custom_subscriptions.count %> Custom Subscriptions -
                <%= member.custom_subscriptions.where(end_date: nil).count %> active,
                <%= member.custom_subscriptions.where.not(end_date: nil).count %> inactive
              </li>
              <% if member.memberships.blank? %>
                No memberships
              <% else %>
                <li>(OLD)
                  <%= member.memberships.count %> Memberships -
                  <%= member.memberships.where(end_date: nil).count %> active,
                  <%= member.memberships.where.not(end_date: nil).count %> inactive
                </li>
              <% end %>
            </ul>
          </td>
          <td>
            <%= if member.has_mail_service
              member.mailbox_number
            else
              "No mail"
            end
            %>
            </td>
          <td><%= link_to 'Edit Member', member, :class =>"button btn btn-default pad-5"  %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
