<div class="form-group">
  <p id="notice"><%= notice %></p>
  <div class="row">
    <div class="col-sm-12">
      <h1 class="float-right">Members
      </h1>
    </div>
    <div class="col">
     <ul class="filter-list">
       <li><%= link_to "Unassigned /", members_path(filter: 'unassigned') %></li>
       <li><%= link_to "Inactive /", members_path(filter: 'inactive') %></li>
       <li><%= link_to "Active - Team Members /", members_path(filter: 'active_team_members') %></li>
       <li><%= link_to "Active - Non Stripe /", members_path(filter: 'active_non_stripe') %></li>
       <li><%= link_to "Active - Stripe /", members_path(filter: 'active_stripe') %></li>
       <li><%= link_to "Active - all /", members_path(filter: 'active') %>
       
       
       
       
       <li><a href="/members/new"><i class="material-icons">add_circle</i></a> </li>
       
    </ul>
    </div>
  </div>
  <table id="datatable" class="table">
    
    <thead>
      
      <tr>
     
        <th>Name</th>
        <th>Team</th>
        <th>Current Subscriptions</th>
       
     
      </tr>
    </thead>

    <tbody>
      <% @members.each do |member| %>
        <tr>
          <td><%= image_tag member.avatar.url(:thumb) %>
          <br/>
          <strong><%= member.first_name %><%= member.last_name %></strong> 
          <br/>
          <%= member.company %>
          <br/>
          <%= link_to 'Show Member', member, :class =>"button btn btn-default pad-5"  %>
          </td>
       
          <td><%= member.team ? link_to(member.team.name, member.team) : '' %></td>
         

          <td>
            <%= member.custom_subscriptions.count %> Custom Subscriptions<br />
            <% if member.custom_subscriptions.count > 0 %>
              - <%= member.custom_subscriptions.where(end_date: nil).count %> active,
              <%= member.custom_subscriptions.where.not(end_date: nil).count %> inactive<br />
              - <%= member.custom_subscriptions.where(payment_type: 'stripe').count%> via Stripe,
              <%= member.custom_subscriptions.where(payment_type: 'check').count%> via Check
            <% end %>
          </td>
          
         
          
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
