<div class="row">
  <div class="col-sm-12">
  <h1>Showing member <%= @member.first_name  %> <%= @member.last_name %></h1>

    <p id="notice"><%= notice %></p>
    
    
    <p>
      <strong>Status:</strong>
      <%= @member.status + " member" %>
    </p>
    
    <%= image_tag @member.avatar.url(:medium) %>
   

    
    <p>
      <strong>Role:</strong>
      <%= @member.role %>
    </p>
    

    
  
    
    
    <p>
      <strong>Email:</strong>
      <%= @member.email %>
    </p>
    
    <p>
      <strong>Mail service:</strong>
      <%= if @member.has_mail_service
            "Box #" + @member.mailbox_number
          else
            "No mail"
          end
          %>
    </p>
    
    <p>
      <strong>Membership history</strong>
      
      <% if @member.memberships.blank? %>
                    No membership has been assigned.
                   
                <% else %>
                <ul>
                 
                   <% @member.memberships.each do |membership| %>
                         <li><%= membership.plan.name %> ( <%= membership.status %>) <%= membership.start_date %> - <%= membership.end_date %></li>
                   <% end %>
                   
                </ul>
      <% end %>
      
      
    </p>
    
    <p>
      <strong>Notes:</strong>
      <%= @member.notes %>
    </p>
    
    <%= link_to 'Edit', edit_member_path(@member) %> |
    <%= link_to 'View all members', members_path %>

  </div>
</div>
