<div class="row">
  <div class="col-sm-12">
  <h1>Showing member <%= @member.first_name  %> <%= @member.last_name %></h1>

    <p id="notice"><%= notice %></p>
    
    
    <p>
      <strong>Status:</strong>
      <%= @member.status + " member" %>
    </p>
    
    <%= image_tag @member.avatar.url(:medium) %>
   
    <p>
      <strong>Start date:</strong>
      <%= @member.start_date %>
    </p> 
    
    <p>
      <strong>Membership type:</strong>
      <%= @member.membership_type %>
    </p>
    
    <p>
      <strong>Building access:</strong>
      <%= @member.access %>
    </p>
    
    <p>Keycard:
      <%= if @member.keycard != nil
                      @member.keycard.number
                    else
                      "No key"
                    end
      %> 
    </p>
    
    <p>
      <strong>Payment type:</strong>
      <%= @member.payment_type %>
    </p>
    
    <p>
      <strong>Email:</strong>
      <%= @member.email %>
    </p>
    
    <p>
      <strong>Mail service:</strong>
      <%= if @member.has_mail_service
            "Box #" + @member.mailbox_number
          else
            "No mail"
          end
          %>
    </p>
    
    
    <p>
      <strong>Notes:</strong>
      <%= @member.notes %>
    </p>
    
    <%= link_to 'Edit', edit_member_path(@member) %> |
    <%= link_to 'View all members', members_path %>

  </div>
</div>
