<div class="row">
  <div class="col-sm-12 center-box field">
  <h1>Showing member <%= @member.first_name  %> <%= @member.last_name %></h1>

    <p id="notice"><%= notice %></p>
    
    
    <p>
      <strong>Status:</strong>
      <%= @member.status + " member" %>
    </p>
    
    <%= image_tag @member.avatar.url(:medium) %>
   

    
    <p>
      <strong>Role:</strong>
      <%= @member.role %>
    </p>
    

    
  
    
    
    <p>
      <strong>Email:</strong>
      <%= @member.email %>
    </p>
    
    
    <p>
      <strong>Mail service:</strong>
 
    </p>
    
    <p>
      <strong>Keycard:</strong>
      <%= 
           
         
          %>
    </p>
    
    <p>
      <strong>Membership history</strong>
      
      <% if @member.memberships.blank? %>
                    No membership has been assigned.
                   
                <% else %>
                <ul>
                 
                   <% @member.memberships.each do |membership| %>
                         <li><%= membership.plan.name %> ( <%= membership.status %>) <%= membership.start_date %> - <%= membership.end_date %></li>
                   <% end %>
                   
                </ul>
      <% end %>
      
      <p> <strong>Keycard</strong>
      
      <% if @member.keycard_checkouts.blank? %>
                    No keycard has been assigned.
                   
                <% else %>
                <ul>
                 
                   <% @member.keycard_checkouts.each do |keycard_checkout| %>
                         <li><%= keycard_checkout.keycard.number %></li>
                   <% end %>
                   
                </ul>
      <% end %>
      
      
    </p>
    
    <p>
      <strong>Notes:</strong>
      <%= @member.notes %>
    </p>
    
    <%= link_to 'Edit member details', edit_member_path(@member), :class =>"button btn btn-default pad-5"%> |
    <%= link_to 'Add membership', new_membership_path(@member), :class =>"button btn btn-default pad-5" %> |
    <%= link_to 'Add keycard', new_keycard_checkout_path(@member), :class =>"button btn btn-default pad-5" %> |
    <%= link_to 'View all members', members_path %>

  </div>
</div>
